---
import { Icon } from "astro-icon/components";
import { iconsFloat} from "../../data/dataHeader.json";
import { Meteors } from "../magicui/meteors";

import { Particles } from "@/components/magicui/particles";
import { Title } from "./Title";
import AtroposComponent from "../atropos/AtroposComponent";

---

<Particles
  className="absolute inset-0 z-0"
  quantity={200}
  ease={80}
  refresh
  client:visible
/>

<section
  id="header-section"
  class="relative h-screen grid place-content-center text-focus-in w-full"
>
  <Meteors number={30} className="absolute inset-0 z-0" client:idle />

  <div
    class="container z-10 inset-shadow-white p-4 rounded-4xl mx-auto px-4 sm:px-6 md:px-10 py-6 sm:py-8 md:py-20 relative grid grid-cols-1 md:grid-cols-2 gap-8 place-items-center"
  >
    <div class="text-center md:text-left">
        <Title/>
      <p
        class="text-lg sm:text-xl md:text-2xl uppercase mb-6 sm:mb-8 w-fit mx-auto md:mx-0 text-gray-600 text-shadow-lg underline decoration-amber-500 underline-offset-5 dark:text-gray-300"
      >
      
      <samp>Full-Stack Developer</samp>
      </p>
      <a
        href="/Daniel-Ignacio-Uribe-Pulgar-CV.pdf"
        download
        class="group inline-flex items-center gap-2 bg-gradient-to-r from-blue-600 to-blue-700 hover:from-blue-700 hover:to-blue-800 text-white font-bold py-3 px-6 rounded-lg transform hover:scale-105 transition-all duration-300 shadow-lg hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 active:scale-95 overflow-hidden relative"
      >
        <Icon
          name="catppuccin:folder-download"
          size="20"
          class="group-hover:rotate-12 transition-transform duration-300"
        />
        <span class="relative z-10">Descargar CV</span>
        <span class="relative flex h-3 w-3">
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-600 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-green-600"
          ></span>
        </span>
      </a>
    </div>
    <div class="grid place-items-center relative">
      <AtroposComponent client:load />
    </div>
  </div>

    

  <div
    class="absolute overflow-hidden inset-0 z-0 hidden md:block"
    id="parallax-container"
  >
    {
      iconsFloat.map((icon : any) => (
        <div
          class="icon-wrapper absolute"
          style={`top: 0; left: 0; ${icon.position.includes("top") ? `top: ${icon.position.match(/top-\[([^%]+)%\]/)[1]}%` : ""};
        ${icon.position.includes("bottom") ? `top: ${100 - parseInt(icon.position.match(/bottom-\[([^%]+)%\]/)[1])}%` : ""};
        ${icon.position.includes("left") ? `left: ${icon.position.match(/left-\[([^%]+)%\]/)[1]}%` : ""};
        ${icon.position.includes("right") ? `left: ${100 - parseInt(icon.position.match(/right-\[([^%]+)%\]/)[1])}%` : ""};`}
        >
          <div class="parallax-element" data-depth={icon.depth}>
            <div
              class="floating-icon"
              style={`animation-delay: ${icon.delay}s`}
            >
              <Icon
                name={icon.name}
                class={`${icon.opacity} icon-blur`}
                size={icon.size}
              />
            </div>
          </div>
        </div>
      ))
    }
  </div>

</section>

<script src="../../helpers/header.ts"></script>
<style>
  .parallax-element {
    will-change: transform;
    transition: transform 0.8s ease-out;
    position: absolute;
    transform-origin: center center;
  }

  section {
    overflow: hidden;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  .floating-icon {
    animation: floating 4s ease-in-out infinite;
    transform-style: preserve-3d;
  }

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
  }


  .text-focus-in {
    -webkit-animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  .icon-blur {
    filter: blur(2px);
  }
</style>